<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<h1>Student Login Page</h1>

<form action="/student/studentpage" method="get">

    <br>
    <br>
    <br>
  <div class="mb-8">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
    <br>
    <br>
  <div class="mb-8">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="pass" class="form-control" id="exampleInputPassword1">
  </div>
    <br>
    <br>

    <br>
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</center>
</body>
</html>